<% include ../partials/header %>

 
<div class="container">
   <header class="jumbotron">
   <div class="container">
   <h1> SHOES </h1>
   <p>Find the high-quality products you Love</p>
   <p>
      <a  href="/products/new" class="btn btn-primary btn-lg">Create your own style</a>
   </p>
   </div>
</header>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% products.forEach(function(product){ %> 
      <div class="col-md-3 col-sm-6">
         <div class="thumbnail">
          <img src="<%= product.image%>">
          <div class="caption">
             <a href="/products/<%= product._id%>"><%= product.name %></a>
          </div>
          <div class="caption">
             <h4><%= product.description %></h4>
          </div>
         </div>
         
      </div>  
     <% }); %> 
   </div>
</div>

<% include ../partials/footer %>